body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    
    

}   
#login-form{    
    background-color: aqua;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}
div{            
    display: flex;
    /* display: inline; */
    flex-direction:column;
    text-align: center;
    align-items: center;
    border: 10px;
    padding: 10px;
}

input{
    border: 10px;
    padding: 10px;
}


button{
    border-radius: 5%;
    background-color: blue;
    color: azure;
}